
@{
    ViewBag.Title = "Home";
}

<h2 class="text-center">Home</h2><br />
<div class="text-center">
    <a href="/Etudiant/Image">Ajouter Image</a><br />
    <a href="/Etudiant/Profil">Consulter Votre Profil</a><br />
    <a href="/Etudiant/ModifierPersonel">Modifier votre information personnelle</a><br />
    <a href="/Etudiant/ModifierScolaire">Modifier les information scolaires</a><br />
    <a href="/Etudiant/Pdf">Telecharger pdf</a><br />
    <a href="/Etudiant/Deconnexion">Deconnexion</a><br />
</div>

